fastapi[standard]
uvicorn
dotenv
sqlalchemy
asyncpg
chromadb
langchain-groq
langchain-chroma
langchain-ollama
langchain-core
langchain
langchain-community
pypdf2
langchain-google-genai
python-multipart